@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mi Aplicacion De Ingresos Gastos</p>

</div>
<div class="row">
    <a href="@Url.Action("index", "IngresosGastos")" class="btn btn-primary"> Ir A Ingresos Gastos</a>
</div>
